*
{
    background-color: lightblue;
}
.search_page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.searchBusesHeading
{
    font-weight: bold;
    margin-bottom: 10px;
    /* hi sesank */
}
.location_search
{
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: column;
}
.inputLabelfrom
{
    font-size: 20px;
    font-weight: bold;
    transform: translateX(-152px);
}
.inputLabelto
{
    font-size: 20px;
    font-weight: bold;
    transform: translateX(-164px);
}
.fromInput,.toInput
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 40px;
}
.fromInput:focus,.toInput:focus
{
    outline: black;
    border-color: blue;
}
.submitbtn
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: x-large;
    border-radius: 10px;
    /* box-shadow: 2px solid black; */
}
.recentSearches
{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.location_search button
{
   margin-top: 10px;
}
.recent_search
{
    margin: 5px;
}
.bus_details
{
    margin: 0px 15px 0px 10px;
    padding: 5px;
    width : 350px;
    height: 20vh;
    border: 2px solid gray;
    margin-bottom: 10px;
}
.dep_time,.arr_time
{
    color: gray;
    padding-right: 5px;
    float: right;
}
table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
th,td
{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
.starIcon
{
    position: relative;
    top: 5px;
    right: 5px;
    font-size: large;
    color: rgba(94, 94, 94, 0.711);
    left: 250px;
    transform: translateY(20px);
}
.starIconActive
{
    color: red;
}